<!DOCTYPE html> 
<html ng-app="App" ng-controller="Controller">
	<head>
		<title>Cotizador Web</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="/static/css/demo.css">
		<link rel="stylesheet" href="/static/css/sky-forms.css">
		<link rel="stylesheet" href="/static/css/sky-forms-orange.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/bootstrap.css">

		<script src="/static/js/angular.js"></script>
		<script src="/static/js/angular-cookies.js"></script>
		<script src="/static/js/resultadofiltro.js"></script>
		<script src="/static/js/boostrap.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		

	</head>
	<body>

	<div class="container">

	<h4>Hermes</h4>

	<h4>Detalle</h4>

	<div class="row">
	  <div class="col-md-1">Marca</div>
	  <div class="col-md-1">Modelo</div>
	  <div class="col-md-1">Submodelo</div>
	  <div class="col-md-1">Clase</div>
	  <div class="col-md-1">Timon</div>
	  <div class="col-md-1">Año</div>
	  <div class="col-md-1">Uso</div>
	  <div class="col-md-1">Valor</div>
	  <div class="col-md-1">Modalidad</div>
	  <div class="col-md-1">Ubicacion</div>
	  <div class="col-md-1">Ocupantes</div>

	</div>

	<div class="row">
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>
	  <div class="col-md-1">.col-md-1</div>

	</div>

	<br></br>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>Comparativo Vehicular</th>
				<th>Mapfre</th>
				<th>Rimac</th>
				<th>La Positiva</th>
				<th>Pacifico</th>
				<th>HDI</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tasa</td>
				

			</tr>
			<tr>
				
				<td>Tasa Sugerida</td>
				

			</tr>
		</tbody>
	</table>



	</div>


	</body>
</html>